<?xml version="1.0" encoding="UTF-8"?>
<!--
  Jellyfin (hosted) for Samsung Tizen TVs.
  Instead of carrying its own copy of the web interface, this app shows your server's
  web client, so server plugins (Home Screen Sections, Watched Together…) appear on the TV.
  It has its own app id, so it installs alongside any other Jellyfin build.
-->
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://jellyfin.org/JellyfinHosted" version="1.0.1" viewmodes="fullscreen">
    <access origin="*" subdomains="true"></access>
    <tizen:allow-navigation>*</tizen:allow-navigation>
    <tizen:content-security-policy>default-src * 'unsafe-inline' 'unsafe-eval' data: blob:; object-src *; frame-src *; connect-src * ws: wss:;</tizen:content-security-policy>
    <tizen:application id="WtJfHost01.JellyfinHosted" package="WtJfHost01" required_version="2.3"/>
    <content src="index.html"/>
    <description>Jellyfin for Samsung Smart TV, using your server's own web client (with its plugins).</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Jellyfin+</name>
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="fullscreen"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
